@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  min-height: 100vh;
  background-color: #eceadc;
  position: relative;
}

.home-background-image-container {
  width: 100%;
  height: 75vh;
  position: relative;
  @media screen and (max-width: 640px) {
    height: auto;
  }
}

.home-background-image {
  object-fit: cover;
  @media screen and (max-width: 640px) {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }  
}

.header-text {
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
